[submodule "quantum-exercises/qm-exercises/quantum-exercises"]
	path = quantum-exercises/qm-exercises/quantum-exercises
	url = git@github.com:abiess1/Quantum-Mechanics-Exercises-and-Solutions.git
[submodule "qm-exercises/Quantum-Mechanics-Exercises-and-Solutions"]
	path = qm-exercises/Quantum-Mechanics-Exercises-and-Solutions
	url = git@github.com:abiess1/Quantum-Mechanics-Exercises-and-Solutions.git
	branch = main
